/* extras */
img.tlogo {
    padding: 0;
    padding-top: 5vh;
    margin: 0;
    width: 50vw;
}

* {
    font-family: "Montserrat";
}

/* prevent scrolling cus my bird in a div is special */
body,
html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background-image: linear-gradient(#a3cbff, #9ae1ec);
    width: 100vw;
    height: 100vh;
}

div.title {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 30px;
}

div.example-text {
    display: block;
}

div.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.projects>a {
    margin: 50px;
    width: 400px;
    height: 400px;
    margin-bottom: 100px;
}

div.projects>a>img,
#cropped-exception {
    width: 400px;
    height: 400px;
    display: flex;
    margin-bottom: 10px;
}

#cropping-div {
    width: 399px;
    height: 399px;
    overflow: hidden;
}

div.projects>a>p {
    margin-bottom: 100px;
}

div.projects>a {
    text-decoration: none;
}

div.projects>a>div,
div.projects>a>p {
    color: black;
}

div.projects>a>div {
    font-size: 35px;
    text-align: center;
}

#twitter-embed {
    display: block;
    width: 500px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}