/* extras */
img.tlogo {
  padding: 0;
  padding-top: 5vh;
  margin: 0;
  width: 50vw;
}

div.bird {
  position: absolute;
  top: 300px;
  left: -400px;
}

/* prevent scrolling cus my bird in a div is special */
body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  background-image: linear-gradient(#a3cbff, #9ae1ec);
  width: 100vw;
  height: 100vh;
}

div.title {
  margin: 5px;
  font-size: 30px;
  text-align: center;
}

div.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.main-container div {
  width: 150px;
  height: 150px;
  margin: 5px;
  display: flex;
  background-color: #000000;
}
